version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: digital-wallet-api
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./database/database.sqlite:/var/www/html/database/database.sqlite
    ports:
      - "8000:80"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/var/www/html/database/database.sqlite
    networks:
      - wallet-network
    command: >
      sh -c "
        composer install --no-interaction &&
        php artisan key:generate --force &&
        php artisan jwt:secret --force &&
        php artisan migrate --force &&
        php artisan db:seed --force &&
        php artisan l5-swagger:generate &&
        /usr/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf
      "

networks:
  wallet-network:
    driver: bridge
